<form [formGroup]="courseForm" class="add-course-form">
  <mat-card>
    <mat-card-title>
      {{ isEditPage ? 'Edit course' : 'Add new course'}}
    </mat-card-title>
    <mat-card-content class="form-content">
      <input id="courseId" type="hidden" formControlName="id">
      <div class="form-content-row">
        <mat-form-field>
          <input matInput
                 type="text"
                 formControlName="title"
                 placeholder="Title">
        </mat-form-field>
      </div>
      <div class="form-content-row">
        <mat-form-field>
          <textarea matInput
                    formControlName="description"
                    placeholder="Description">
          </textarea>
        </mat-form-field>
      </div>
      <div class="form-content-row">
        <mat-form-field>
          <input matInput
                 type="text"
                 formControlName="photoUrl"
                 placeholder="Photo url">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput
                 formControlName="creationDate"
                 [matDatepicker]="picker"
                 placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="form-content-row-short">
        <mat-form-field>
          <input matInput
                 type="number"
                 formControlName="duration"
                 placeholder="Duration">
        </mat-form-field>
        <!-- <span class="label">{{ course.duration * 1000 | date: 'mm:ss' }}</span> -->
      </div>
      <div class="form-content-row-short">
        <div class="label">
          <mat-checkbox formControlName="topRated">Make top rated!</mat-checkbox>
        </div>
      </div>
      <div class="action-buttons">
        <button mat-raised-button color="primary" (click)="onConfirmCourse()">{{ isEditPage ? 'Edit': 'Add' }} course</button>
        <button mat-raised-button color="warn" (click)="onBack()">Back to course</button>
      </div>
    </mat-card-content>
  </mat-card>
</form>
