.date-input {
    position: relative;
    border: 2px solid #999999;
    margin-bottom: 16px;

    & > input {
        padding: 8px;
        width: 95%;
        height: 100%;
        border: 0;
    }
}