.card {
  margin: 8px;

  .yellow-icon {
    color: #f7ca18;
    float: right;
  }

  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-description {
      padding-right: 50px;
    }

    &-photo {
      img {
        max-height: 128px;
      }
    }
  }

  .actions {
    display: flex;
    user-select: none;

    .action {
      display: flex;
      align-items: center;
      margin: 0 8px;
      padding: 2px 6px 2px 2px;
      border-radius: 4px;
      cursor: pointer;
      transition: background 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);

      &:hover {
        background: #ccc;
      }
    }
  }
}
