.login-form {
  width: 35%;
  margin: 0 auto;

  .login-content {
    width: 100%;

    &-row {
      margin: 12px 0;

      mat-form-field {
        width: 100%;
      }
    }

    .action-buttons {
      & > * {
        margin-right: 25px;
      }
    }

    .error-block {
      margin: 24px 0 0;
      display: inline-block;
      color: rgb(160, 0, 0);
    }
  }
}
