<div class="add-course-form">
  <mat-card>
    <mat-card-title>
      Add new course
    </mat-card-title>
    <mat-card-content class="form-content">
      <div class="form-content-row">
        <mat-form-field>
          <input matInput
                 type="text"
                 [(ngModel)]="course.title"
                 placeholder="Title">
        </mat-form-field>
      </div>
      <div class="form-content-row">
        <mat-form-field>
          <textarea matInput
                    [(ngModel)]="course.description"
                    placeholder="Description">
          </textarea>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput
                 [(ngModel)]="course.creationDate"
                 [matDatepicker]="picker"
                 placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="form-content-row-short">
        <mat-form-field>
          <input matInput
                 type="number"
                 [(ngModel)]="course.duration"
                 placeholder="Duration">
        </mat-form-field>
        <span class="label">{{ course.duration * 1000 | date: 'mm:ss' }}</span>
      </div>
      <div>
        <mat-form-field>
          <input type="text" placeholder="Assignee" aria-label="Assignee" matInput [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let user of users" [value]="user">
              {{ user }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="action-buttons">
        <button mat-raised-button color="primary" (click)="onAddCourse()">Add course</button>
        <button mat-raised-button color="warn" (click)="onBack()">Back</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
